label{
  display: block;
}
input, select, textarea{
  display: block;
  width:100%;
  border: 0;
  border-radius: 0;
  box-shadow: 0 0 6px 0 darken($background-color, 20%);
  padding:$tiny-value $tiny-plus-value;
}
