.avatar{
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: relative;
  border-radius:50%;
  // background-color: $background-color;
  border:1px solid $text-color;
  // padding:2px;
  img{
    object-fit: cover;
    -o-object-fit:cover;
    /*position: absolute;
    margin: auto;*/
    min-height: 100%;
    min-width: 100%;

    /* For the following settings we set 100%, but it can be higher if needed
    See the answer's update */
    // left: -100%;
    // right: -100%;
    // top: -100%;
    // bottom: -100%;
  }
}
.avatar-small{
  width:75px;
  height:75px;
}

.avatar-tiny{
	width:30px;
	height:30px;
}

.thumbnails{
	display:flex;
}
.thumbnail{
	padding: $tiny-value;
	box-shadow: 0 0 2px 0 rgba(77,77,77,.5);
	margin: 2px;
	text-align: center;
	display: inline-table;
	background-color:lighten($background-color, 20%);
	border-radius:$border-radius-sm;
	.actions{
		border-top: 1px solid darken($background-color, 20%);;
		padding: 0;
		margin-top: 5px;
		a{
			margin: 5px 0 0 0;
		}
	}
}