table{
    table-layout:auto;
}

thead{
    background-color:#888;
}

th, td{
    padding:0 0.3rem;
}

th.id-col, td.id-col{
    width:3em;
}

td a.btn{
    padding:$tiny-value;
}
th.actions{
    min-width: 75px;
    max-width: 100px;
    width: 100px;
    text-align: center;
}
td.actions{
    min-width: 75px;
    max-width: 100px;
    width: 100px;
    text-align: center;
    padding:$tiny-value;
    .btn{
        margin: 0;
    }
}

tbody.small{
    .actions{
        .btn{
            font-size:1.2em;
        }
    }
}

tr.error{
    background-color:$grave-color;
    color: $grave-text-color;
}