// Colors
// ------
$text-color:#333;
$background-color:#EEE;

$primary-color:#88C;
$primary-text-color:darken($primary-color, 10%);

$danger-color:orange;
$danger-text-color:darken($danger-color, 20%);

$grave-color:darken(red, 10%);
$grave-text-color:darken($grave-color, 20%);

$info-color: rgba(44, 160, 221, 1);
$info-text-color: darken($info-color, 20%);

$link-color:#88C;
$link-hover-color:lighten($link-color, 10%);
$link-visited-color:#88C;

$menu-text-color: $background-color;
$menu-background-color: #444;
$menu-link-color:#CCF;
$menu-link-hover-color:lighten($menu-link-color, 10%);
$menu-link-visited-color:$menu-link-color;

$border-radius-sm:3px;
$border-radius-md:5px;
$border-radius-lg:10px;

// Overriding some styles
$base-color:$text-color;
$base-color-link:$link-color;
$base-color-link-hover:$link-hover-color;

// Images
$transparent-bg: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4AoVFBkpNXo09gAAACdJREFUKM9jTEtLY8AGjI2NsYozMZAIRjUQA1hwhffZs2dHQ4l+GgD7wQTt6d5FVQAAAABJRU5ErkJggg==');
