# Laravel
/node_modules
/public/storage
/vendor
.idea
.env

# Homestead
/.vagrant
/Homestead.json
#/Homestead.yaml

# Netbeans project
/nbproject/private

# Sources
/_sources/common/

# Uploads
/public/images/profils/*
!/public/images/profils/.gitkeep
/public/images/profils/originals/*
!/public/images/profils/originals/.gitkeep
/public/images/profils/uploads/*
!/public/images/profils/uploads/.gitkeep