# Laravel
/node_modules
/public/storage
/vendor
.idea
.env

# Homestead
/.vagrant
/Homestead.json
#/Homestead.yaml

# Netbeans project
/nbproject/private

# Sources
/_sources/common/

# Images
# ------
# Profils
/public/images/profils/*
!/public/images/profils/default.jpg
# Originals
/public/images/originals/*
!/public/images/originals/.gitkeep
# Images
/public/images/uploads/*
!/public/images/uploads/.gitkeep
!/public/images/uploads/thumbs/
/public/images/uploads/thumbs/*
!/public/images/uploads/thumbs/.gitkeep
# Disciplines
/public/images/disciplines/*
!/public/images/disciplines/.gitkeep
!/public/images/disciplines/thumbs/
/public/images/disciplines/thumbs/*
!/public/images/disciplines/thumbs/.gitkeep
